extends layout.pug

block content
  title= title_page

  body
    div(class="jumbotron")
      h1= trip_name
      h2= summary
      div(align = "left")

    .container
      .float-sm-right
        button.btn.btn-primary(type='button') English

      ul(class="nav nav-tabs")
        li(class="nav-item")
          a(class="nav-link active show" data-toggle="tab" href="#itin") Itinerary
        li(class="nav-item")
          a(class="nav-link" data-toggle="tab" href="#finance") Finance


      #myTabContent.tab-content
        #itin.tab-pane.fade.active.show
          .card.text-white.bg-danger.mb-3
            .card-header Header
            .card-body
              h5.card-title Danger card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        #finance.tab-pane.fade
          .card.text-white.bg-warning.mb-3
            .card-header Header
            .card-body
              h5.card-title Danger card title
              p.card-text
                | Some quick example text
