extends layout.pug

block content
  title= title_page

  body
    div(class="jumbotron")
      h1= trip_name
      h2= summary
      div(align = "left")

    .container
      .float-sm-right
        button.btn.btn-primary(type='button') English

      ul(class="nav nav-tabs")
        li(class="active"): a(data-toggle="tab" href="#itin" Itinerary
        li
          a(data-toggle="tab" href="#finance") Finance


      div(class="tab-content")
        div(id="itin" class="tab-pane fade in active")
          p
            Some quick example text to build on the cars;s content.

        div(id="finance" class="tab-pane fades")
          p
            Some o build on the card title and make up the bulk of the card&apos;s content.
