extends layout.pug

block content
   link(rel="stylesheet" href="/css/login.css")
   div(class="register-form")
      div(class="layout-title")
      div
         form(class="login" action="/login" method="POST")
            input(type="text" name="username" placeholder="Email")
            input(type="password" autocomplete="off" name="password" placeholder="Password")
            input(type="submit" value="Login")

         a(href="/signup") Create New Account
         span|
         a(href="/forgotpw") Forgot Password

