.jumbotron {
      margin-top: 10px;
      background-image: url('../imgs/banner-china-dark.PNG');
      background-size: cover;
      text-align: center;
    }

.jumbotron h1 {
    color: white;
  }

.jumbotron h2 {
    color: white;
  }

.card-title {
   font-size: 32px;
   align-content: center;
}

.tpics {
   height: 200px;
   width: 200px
}

.tcards {
   height: 350px;
}

.thead{
   color:mint;
}
