.jumbotron {
      margin-top: 10px;
      background-image: url('../imgs/sea.JPG');
      background-size: cover;
      text-align: left;
    }

.jumbotron h1 {
    color: white;
  }

.jumbotron h2 {
    color: white;
  }

.card-title {
   font-size: 32px;
   align-content: center;
}
